## install MySQLdb
### http://www.codegood.com/archives/129  安裝套件
### http://blog.sina.com.cn/s/blog_4cfe78830102vx4e.html
### http://www.runoob.com/python/python-mysql.html

## 創建表格

In [3]:
import MySQLdb

db = MySQLdb.connect("localhost","root","password","database",use_unicode=True, charset="utf8" )
cursor = db.cursor()

# 1標題,2商品網址,3尚餘數量,4已賣數量,5價錢,6賣家名字,7上次登入時間,8賣家評價,9最後出價時間,10問答次數,11出價紀錄,12圖片網址,13內文
# 创建数据表SQL语句
sql = """CREATE TABLE earphone (
         Title_id VARCHAR(30) NOT NULL Primary Key,
         Title TEXT NOT NULL,
         PRO_webads VARCHAR(200),
         left_num int,
         sold_num int,
         Price int,
         SELLER_NAME VARCHAR(30) ,
         SELLER_lastlogin VARCHAR(30),
         SELLER_assess int,
         PRO_lastpricetime VARCHAR(30) ,
         q_times int,
         price_times int,
         pic_web VARCHAR(100),
         inner_content TEXT 
         )"""

cursor.execute(sql)

# 关闭数据库连接
db.close()

## 刪除表格

In [355]:
import MySQLdb

db = MySQLdb.connect("localhost","root","password","database",use_unicode=True, charset="utf8" )
cursor = db.cursor()

# 如果数据表已经存在使用 execute() 方法删除表。
cursor.execute("DROP TABLE IF EXISTS earphone")

# 关闭数据库连接
db.close()

## 匯入資料

In [357]:
import MySQLdb
import os, sys

##                      IP            名稱     密碼       資料庫
db = MySQLdb.connect("localhost","root","password","database",use_unicode=True, charset="utf8" )

# 使用cursor()方法获取操作游标 
cursor = db.cursor()
# try:
# 使用execute方法执行SQL语句
cursor.execute("load data local infile 'C:/Users/xxx.txt' replace into table earphone fields terminated by '_|' lines terminated by '_|\r\n'")

# 提交到数据库执行
db.commit()
# except:
#     print 'failed'
#     db.rollback()

# 关闭数据库连接
db.close()

In [15]:

with open('C:/Users/allraw_data.txt','r') as f:
    for ele in f:
        ele.decode('utf-8')

## 查詢資料

In [2]:
import MySQLdb

db = MySQLdb.connect("localhost","root","password","database",use_unicode=True, charset="utf8" )
cursor = db.cursor()

# SQL 查询语句
sql = "SELECT inner_content FROM earphone limit 5"

try:
    cursor.execute(sql)
    results = cursor.fetchall()

    for row in results:
        content = row[0]
        print content

except:
    print "Error: unable to fecth data"

# 关闭数据库连接
db.close()